*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 5%;
	width: 90%;
	align-content: center;
	justify-content: center;
	
}

nav{
	align-items:  center;
	position: sticky;
	padding: 5px;
	top: 0px;
	border: solid 1.5px black;
	background-color: lightpink;
	text-align: center;
	margin-bottom: 2em;

}
nav ul li{
	transition-duration: 0.4s;
	display: inline-grid;
	background-color: salmon;
	padding: 2%;
	width: 18%;
	margin: 7px;

}
nav ul li a{
	text-decoration: none;
	color:white;
	font-family: Verdana;
}
nav ul li:hover{
	background-color: red;
	color: black;

}
@keyframes change-color {
	0% {
   	 color : #000;
  		}
 	20% {
     color : #0BE3D0;
  	}
  	40% {
     color : #0B6DE3;
  	}
  	60% {
     color : #0BB1E3;
  	}
  	80% {
     color : #0BE387;
  	}
  	100% {
     color : #0B28E3;
  	}
  }
h2{
	margin-bottom: 1em;
	animation: change-color 2s ease 0s infinite;
}
p{
	margin: 2px;
}
	
nav ul li a:hover{
	
	color: black;

}
img{
	float: left;
	margin-right: 2px;
	width: 100%;
}
@media screen and (width>=600px){
	section{
		margin: 2px;
		width: 45%;
		display: inline-table;
		margin-right: 4px;
	}
	img{
	float: left;
	margin:4px;
	width: 60%;
}
	img:active{
		width: 70%;
	}
	
}